{# collection #}

{% block editor_collection_row %}
    {% set row_attr = row_attr|merge({
        'data-ea-collection-field': 'true',
        'data-entry-is-complex': form.vars.ea_crud_form.ea_field and form.vars.ea_crud_form.ea_field.customOptions.get('entryIsComplex') ? 'true' : 'false',
        'data-allow-add': allow_add ? 'true' : 'false',
        'data-allow-delete': allow_delete ? 'true' : 'false',
        'data-num-items': form.children|length,
    }) %}

    {{ block('form_row') }}

    <script src="{{ asset("bundles/easyadmin/form-type-collection.js") }}"></script>
{% endblock editor_collection_row %}

{% block editor_collection_entry_row %}
    <div class="editor-collection_row">
        {{ block('form_row') }}
    </div>
{% endblock editor_collection_entry_row %}

{% block editor_collection_widget %}
    {# the "is iterable" check is needed because if an object implements __toString() and
               returns an empty string, "is empty" returns true even if it's not a collection #}
    {% set isEmptyCollection = value is null or (value is iterable and value is empty) %}
    {% set is_array_field = 'EasyCorp\\Bundle\\EasyAdminBundle\\Field\\ArrayField' == form.vars.ea_crud_form.ea_field.fieldFqcn ?? false %}
    <div class="row">
        <div class="col-8">
            <div class="ea-form-collection-items editor-collection">
                {% if isEmptyCollection %}
                    {{ block('empty_collection') }}
                {% elseif is_array_field %}
                    {{ block('form_widget') }}
                {% else %}
                    <div class="accordion border-0 shadow-none">
                        {{ block('form_widget') }}
                    </div>
                {% endif %}
            </div>
        </div>
    {% if isEmptyCollection or form.vars.prototype is defined %}
        {% set attr = attr|merge({'data-empty-collection': block('empty_collection') }) %}
    {% endif %}

    {% if allow_add|default(false) %}
        <div class="col-4">
            <div class="field-editor-blocks">
                <ul class="gap-2 d-flex flex-wrap">
                    {% for type, block in blocks %}
                        <li class="list-inline-item">
                            <button type="button" class="btn btn-primary field-editor-add-button field-editor-choose-button"
                                    data-block-type="{{ type }}"
                                    data-block-icon="{{ block.icon }}"
                                    data-block-name="{{ block.name }}"
                                    data-prototype='{{ form_row(prototypes[type])|e('html_attr') }}'
                                    data-form-type-name-placeholder='{{ prototypes[type] is defined ? prototypes[type].vars.name : '' }}'
                            >
                                <span class="icon">{{ block.icon|raw }}</span>
                                <span>{{ block.name }}</span>
                            </button>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endif %}
    </div>
{% endblock editor_collection_widget %}

{% block editor_collection_entry_widget %}

    {% set is_array_field = 'EasyCorp\\Bundle\\EasyAdminBundle\\Field\\ArrayField' == form_parent(form).vars.ea_crud_form.ea_field.fieldFqcn ?? false %}
    {% set is_complex = form_parent(form).vars.ea_crud_form.ea_field.customOptions.get('entryIsComplex') ?? false %}
    {% set allows_deleting_items = form_parent(form).vars.allow_delete|default(false) %}
    {% set allows_drag_items = form_parent(form).vars.allow_drag|default(false) %}
    {% set render_expanded = form_parent(form).vars.ea_crud_form.ea_field.customOptions.get('renderExpanded') ?? false %}
    {% set error = false %}

    {% if form.vars.errors.form.getErrors(true)|length %}
        {% set render_expanded = true %}
        {% set error = true %}
    {% endif %}
    {% set delete_item_button %}
        <button type="button" class="btn btn-link btn-link-danger field-editor-remove-button"
                title="{{ 'action.remove_item'|trans({}, 'EasyAdminBundle') }}">
            <i class="far fa-trash-alt"></i>
        </button>
    {% endset %}

    {% set drag_item_button %}
        <button type="button" class="btn btn-link btn-link-secondary field-editor-drag-button" style="cursor:move;"
                title="{{ 'action.drag_item'|trans({}, 'EasyAdminBundle') }}">
            <i class="fas fa-arrows-alt-v"></i>
        </button>
    {% endset %}

    {% set editorId = 'editorjs_' ~ id %}

    <div class="field-collection-item {{ is_complex ? 'field-collection-item-complex' }} bg-white border rounded mb-1 {{ error ? "border-danger"}} " >
        <input type="hidden" data-editorjs="{{ editorId }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value|json_encode }}" {% endif %}>

        <div class="accordion-item" style="border-radius: 0; box-shadow: none">
            <h2 class="accordion-header d-flex p-0 rounded-none" style="--border-radius: 0; box-shadow: none">
                <button class="accordion-button {{ render_expanded ? '' : 'collapsed' }}" type="button" data-bs-toggle="collapse" data-bs-target="#{{ id }}-contents">
                    <i class="fas fw fa-chevron-right form-collection-item-collapse-marker"></i>
                    <span class="accordion-title d-inline-flex">
                        <span style="width: 1.25rem;">{{ form.vars.attr["block-icon"]|raw }}</span> {{ form.vars.attr["block-title"] }}
                    </span>
                </button>
                <div class="accordion-actions d-flex">
                    {% if allows_deleting_items %}
                        {{ delete_item_button }}
                    {% endif %}
                    {% if allows_drag_items %}
                        {{ drag_item_button }}
                    {% endif %}
                </div>
            </h2>
            <div id="{{ id }}-contents" class="accordion-collapse collapse {{ render_expanded ? 'show' }} border-top">
                <div class="accordion-body">
                    {{ form_widget(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock editor_collection_entry_widget %}
